@charset "UTF-8";

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: scroll;
}

#home {
    background-image: url(../image/top.jpg);
    width: 100%;
    min-height: 50vh;
    height: 270px;
    margin-bottom: 40px;
}

.button {
    color: white;
    font-size: 30px;
    text-align: center;
    background:rgb(31, 185, 170);
    padding: 10px 20px;
    text-decoration: none;
}

#middle h1{
    color: rgb(8, 4, 4); 
    font-size: 30px;
    text-align: center;
}

h1 { color: rgb(74, 27, 205); 
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
}

h2 {
    color: white; 
    font-size: 30px;
    text-align: center;
}

.bg{
    color: rgb(8, 4, 4); 
    font-size: 30px;
    text-align: center;
}

footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}

#section .profile{
    font-size: 100px;
}
